<form>

  <div class="form-group">
    <label for="sensor1">Sensor 1</label>
    <input type="email" class="form-control" id="sensor1"   >
     
  </div>

  <div class="form-group">
    <label for="sensor2">Sensor 2</label>
    <input type="email" class="form-control" id="sensor2"   >
    
  </div>

  <div class="form-group">
    <label for="sensor3">Sensor 3</label>
    <input type="email" class="form-control" id="sensor3"   >
    
  </div>
   
  </div>
  <button type="submit" class="btn btn-primary">Atualizar</button>
</form>